* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  line-height: calc(1em + 0.5rem);
  font-family: "Libre Caslon Text", serif;
}
html,
body {
  height: 100%;
}
img {
  max-width: 100%;
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
button,
textarea,
select {
  font: inherit;
}@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
/******************************************************************************
CSS
******************************************************************************/
.container {
  width: 100vw;
  display: grid;
  grid-template-rows: 8vh 92vh;
  grid-template-areas:
    "nav"
 
    "homePage"
  
    ;
 
}

/******************************************************************************
nav below
******************************************************************************/

/* Navigation */
.nav {
  grid-area: nav;
  background: #27444C;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  z-index: 80000;
}
.navLogo
{
  display:flex;
  justify-content:center;
font-size:25px;
  color:#f2dbd5;

}
.nav img
{
  height:30px;
}

.nav ul {
  
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 45%;
  padding: 0;
  margin: 0;
}

.nav ul li {
  position: relative;
}

.nav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f2dbd5;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  transition: color 0.3s;
}

.nav ul li a i {
  font-size: 24px;
  transition: transform 0.3s;
  color:#f2dbd5;
}

.nav ul li a span {
  font-size: 16px;
  color: #f2dbd5;
  position: absolute;
  left: 35px;
  opacity: 0;
  transform: translateX(-10px);
  transition: opacity 0.3s, transform 0.3s;
}

.nav ul li a:hover i {
  transform: scale(1.2);
}

.nav ul li a:hover span {
  opacity: 1;
  transform: translateX(0);
}

.nav ul li:hover a {
  color: #eeccd9;
}
/*****************************************************
demoPage below
******************************************************************************/

.homePage
{
  grid-area:homePage;
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows:1fr;
  grid-template-areas:"homeLeftSide homeRightSide";
  background:#f2dbd5;
  
}
.homeLeftSide
{
  grid-area:homeLeftSide;
   display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  margin:auto;
  
  
}
.homeRightSide
{
  grid-area:homeRightSide;
   display: flex;
  align-items: center;
  justify-content: center;
  background:#f2dbd5;

}

.videoContainer {
  width: 500px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.homeLeftContainer
{
  width:500px;
  height:300px;
  display: flex;
  flex-direction:column;
  align-items: right;
  justify-content: space-between;
  background:#f2dbd5;
  
}
.homeLeftSide h1
{
  font-size:50px;
  color:#386068;
}

.homeLeftSide p
{
  font-size:20px;
    color:#386068;
   font-family: Arial, Helvetica, sans-serif;
}

.homeLeftSide button
{
    background:#386068;
  color:#f2dbd5;
  border:none;
  height:50px;
  border-radius:5px;
   font-family: Arial, Helvetica, sans-serif;
}
.homeRightContainer button:hover

{
  background:#f2dbd5;
  color:#386068;
}

.background-clip {
  width: 500px;
  height: 300px;
  object-fit: cover;
  z-index: 6;
}
/******************************************************************************
Footer BElow
******************************************************************************/
footer
{

  background:#27444c;



}



.footerTop
{
  height:13vh;
  width:100vw;
  display:grid;
  padding-block:1vh;
  grid-template-rows:repeat(2,1fr);
  grid-template-areas:
    "logoGroup"
    "peopleFooter"

    ;
}

.peopleFooter
{
  grid-area:peopleFooter;
  width:20vw;
  height:4vh;
  margin:auto;
  display:flex;
  justify-content:space-between;
  align-items:center;
  font-size:10px;
  color:#f2dbd5;
  
  
}
.logoGroup
{
  grid-area:logoGroup;
  display:flex;
  justify-content:center;
  color:#f2dbd5;
}
.logoGroup img
{
  height:30px;
}
.logoGroup h1
{
  height:9px;
  color:red;
}
.logoGroup h2
{
  height:10px;
}




.footerDivider
{
  height:3vh;
   width:100vw;

  display:flex;
  flex-direction:column;
  justify-content:center;
  
  
}
hr
{
 height:2px;
  width:90vw;
  background:#f2dbd5;
  border:none;
   margin:auto;
}
.footerBottom
{
  color:#f2dbd5;
  height:9vh;
   width:100vw;
 
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  
}


