<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}"/>
    <title>Lesson</title>
  </head>
  <body>
    <div class="container">
      <!-- Navigation Bar -->
        <div class="nav">
        <div class="navLogo">
          <img src="https://cdn.glitch.global/ee3824e1-08b7-4d8e-b8e7-dfe1553e478d/Untitled%20design%20(20).png?v=1736693562443" alt="pig"/>
          <h3>
            Pigment
          </h3>
        </div>
        <ul>
          <li class="about">
            <a href="/home.html">Home</a>
          </li>
       
          <li><a href="/signup.html"><button class="logInButton">
             Sign-Up
          
        </button></a></li>
            <li><a href="/login.html"><button class="logInButton">
               Log-In
       
        </button></a></li>
        </ul>
        
      </div>

      <!-- Contact Header -->
      <div class="contactHeader">
        Contact Us
      </div>

      <!-- Form Area -->
      <div class="formArea">
        <form 
          method="POST" 
          action="https://script.google.com/macros/s/AKfycbzmxI_8uelftFFhKjkGpwrVO2jQ1ixjSp0JW2RE92_VIgx8udFPYBnVSNm1cYQogDmn/exec"
        >
          <label for="Name">Name:</label>
          <input name="Name" type="text" placeholder="Name" required />

          <label for="Email">Email:</label>
          <input name="Email" type="email" placeholder="Email" required />

          <label for="Issue Type">Issue Type:</label>
          <select name="Issue Type" required>
            <option value="Website Malfunction">Website Malfunction</option>
            <option value="Feedback">Feedback</option>
            <option value="Other">Other</option>
          </select>

          <label for="Problem Description">Problem Description:</label>
          <textarea name="Problem Description" placeholder="Describe your issue" required></textarea>

          <button type="submit">Send</button>
        </form>
      </div>
    </div>

    <!-- Footer -->
    
    <footer>
      <div class="footerTop">
       <div class="logoGroup">
        <img src="https://cdn.glitch.global/ee3824e1-08b7-4d8e-b8e7-dfe1553e478d/Untitled%20design%20(20).png?v=1736693562443"/>
         <h2>
           Pigement
         </h2>
         <h2>
           -Personal Finance
         </h2>
         
        </div>
       

        <div class="peopleFooter">
          <div>Hansuja Yalaverthi</div>
          <div>|</div>
          <div>Ira Tiwari</div>
          <div>|</div>
          <div>Grace Gong</div>
        </div>
      </div>
      <div class="footerDivider">
        <hr />
      </div>
      <div class="footerBottom">
        <h3>1 Stevenson Dr, Lincolnshire, IL 60069</h3>
        <h6>@ Kitchen Coders | All Rights Reserved</h6>
      </div>
    </footer>
   
  </body>
</html>
