<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <title>KnowYourWorth</title>
  </head>
  <body>
    <div class="container">
      <div class="nav">
        <div class="navLogo">
          <img src="https://cdn.glitch.global/ee3824e1-08b7-4d8e-b8e7-dfe1553e478d/Untitled%20design%20(20).png?v=1736693562443" alt="pig"/>
          <h3>
            Pigment
          </h3>
        </div>
        <ul>
          <li class="about">
            <a href="#about">About</a>
          </li>
          <li class="contact">
            <a href="/templates/contact.html">Contact</a>
          </li>
          <li><a href="/templates/signup.html"><button class="logInButton">
             Sign-Up
          
        </button></a></li>
            <li><a href="/templates/login.html"><button class="logInButton">
               Log-In
       
        </button></a></li>
        </ul>
        
      </div>
      <div class="homePage">
        <div class="homeLeft">
          <div class="leftPageContainer">
            <h1 class="homeHeader">Pigment Personal Finance Service</h1>
            <p class="textBlock">
              We take pride in helping people from all walks of life achieve the
              justice and peace they deserve.
              
            </p>
            <a href="/templates/signup.html"  class="getStarted homeButtons">  Get Started</a>
            <a href="/templates/login.html" class="log-in homeButtons">  Log-In</a>
          </div>
        </div>
        <div class="homeRight">
          <img
            src="https://cdn.glitch.global/ee3824e1-08b7-4d8e-b8e7-dfe1553e478d/Untitled%20design%20(11).png?v=1736623958507"
            alt="women siting at desk managing finances"
          />
        </div>
      </div>
      <div class="demoPage">
        <div class="homeContinued">
          <img
            src="https://cdn.glitch.global/ee3824e1-08b7-4d8e-b8e7-dfe1553e478d/Untitled%20design%20(12).png?v=1736631725063"
          />
        </div>
        <div class="demoPageContainer">
          <div class="demoLeftSide">
            <div class="videoContainer">
               <video loop  class="background-clip" id="backgroundVideo">
              <source src="https://cdn.glitch.global/c9220cc7-4592-41c8-8506-da169dafbe56/demon%20ct%20red%20background.mp4?v=1695701896572" type="video/mp4">
            </video>
            </div>
          </div>
          <div class="demoRightSide">
            <div class="demoRightContainer">
               <h1>Try the demo</h1>
            <p>Tracker Tool Demo Videor. Add some other words about the tracker to seal the deal</p>
            <button id="playButton" class="videoButton">Click to Start</button>
            </div>
           
          </div>
        </div>
      </div>
      <div class="toolsPage">
        <div class="toolsHeaderDiv">
          <h1>
          Struggling to manage finances?
          </h1>
        </div>
        <div class="toolsInfo">
          <div class="tool1">
            <div class="tool1Img">
               
            </div>
           
           <p>
             Budgeting Tracker. TO Help you stay on track reach your fiancal goals 
            </p>
            
          </div>
          <div class="tool2">
            <div class="tool2Img">
               
            </div>
           <p>
             Budgeting Tracker. TO Help you stay on track reach your fiancal goals 
            </p>
            
          </div>
          <div class="tool3">
              <div class="tool3Img">
               
            </div>
           <p>
             Budgeting Tracker. TO Help you stay on track reach your fiancal goals 
            </p>
            
          </div>
          
        </div>
      </div>
      <div class="aboutPage" id="about">
          <div class="aboutLeft">
          <div class="aboutLeftContainer">
              <h1>
            About Us
          </h1>
          <p>
            This space gives you more room to expound on your message. Remember that writing effectively is an art. Start by using simple, everyday words people can easily understand. Be clear and direct to the point. Keep your thoughts flowing logically, and aim for brevity.
<br/>
Your ideas have a purpose, so choose words that accurately express them. Ensure your grammar is flawless as it impacts your credibility. Use the active voice whenever possible as it makes any narrative easier to read. 
          </p>
          </div>
    
        </div>
        <div class="aboutRight">
          <div class="aboutRightContainer">
           
          </div>
         
        </div>
      
        
      </div>
    </div>

    <footer>
      <div class="footerTop">
       <div class="logoGroup">
        <img src="https://cdn.glitch.global/ee3824e1-08b7-4d8e-b8e7-dfe1553e478d/Untitled%20design%20(20).png?v=1736693562443"/>
         <h2>
           Pigement
         </h2>
         <h2>
           -Personal Finance
         </h2>
         
        </div>
       

        <div class="peopleFooter">
          <div>Hansuja Yalaverthi</div>
          <div>|</div>
          <div>Ira Tiwari</div>
          <div>|</div>
          <div>Grace Gong</div>
        </div>
      </div>
      <div class="footerDivider">
        <hr />
      </div>
      <div class="footerBottom">
        <h3>1 Stevenson Dr, Lincolnshire, IL 60069</h3>
        <h6>@ Kitchen Coders | All Rights Reserved</h6>
      </div>
    </footer>

    <script>
      window.addEventListener("load", function () {
        const video = document.getElementById("backgroundVideo");
        const playButton = document.getElementById("playButton");

        playButton.addEventListener("click", function () {
          if (video.paused) {
            video.play();
            playButton.textContent = "Pause Video";
          } else {
            video.pause();
            playButton.textContent = "Play Video";
          }
        });
      });
    </script>
  </body>
</html>
