<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loginLanding.css') }}"/>


    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
      rel="stylesheet"
    />
    <title>Pigment </title>
  </head>
  <body>
    <div class="container">
   <div class="nav">
  <div class="navLogo">
    <img src="https://cdn.glitch.global/ee3824e1-08b7-4d8e-b8e7-dfe1553e478d/Untitled%20design%20(20).png?v=1736693562443" alt="pig" />
    <h3>Pigment</h3>
  </div>
  <ul>
    <li>
      <a href="/home.html">
        <i class="fa-solid fa-home"></i>
        <span>Home</span>
      </a>
    </li>
   
   
    <li>
      <a href="/index.html">
       <i class="fa-solid fa-dollar"></i>
        <span>Porkfolio</span>
      </a>
    </li>
    <li>
      <a href="/contact.html">
        <i class="fa-solid fa-chart-pie"></i>
        <span>Contact</span>
      </a>
    </li>
  </ul>
</div>
   
     <div class="homePage">
  <div class="homeLeft">
    <div class="homeLeftContainer">
      <h1 class="homeHeader">Welcome back
to Pigement -personal finace service</h1>
      <p class="textBlock">
        We take pride in helping people from all walks of life achieve the justice and peace they deserve.We take pride in helping people from all walks of life achieve the
              justice and peace they deserve. We take pride in helping people from all walks of life achieve the
              justice and peace they deserve.We take pride in helping people from all .
      </p>
    </div>
  </div>
  <div class="homeRight">
    <div class="homeRightContainer">
      <button class="button1">
        <i class="fa-solid fa-table"></i>
        <h3>Tracking Tool</h3>
      </button>
      <button class="button2">
        <i class="fa-solid fa-chart-pie"></i>
        <h3>Budgeting Tool</h3>
      </button>
      <button class="button3">
        <i class="fa-regular fa-calendar-days"></i>
        <h3>Reports [&] History</h3>
      </button>
      <button class="button4">
        <i class="fa-light fa-clipboard-question"></i>
        <h3>Inquiries [&] Assistance</h3>
      </button>
    </div>
  </div>
</div>

    </div>

    <footer>
      <div class="footerTop">
       <div class="logoGroup">
        <img src="https://cdn.glitch.global/ee3824e1-08b7-4d8e-b8e7-dfe1553e478d/Untitled%20design%20(20).png?v=1736693562443"/>
         <h2>
           Pigement
         </h2>
         <h2>
           -Personal Finance
         </h2>
         
        </div>
       

        <div class="peopleFooter">
          <div>Hansuja Yalaverthi</div>
          <div>|</div>
          <div>Ira Tiwari</div>
          <div>|</div>
          <div>Grace Gong</div>
        </div>
      </div>
      <div class="footerDivider">
        <hr />
      </div>
      <div class="footerBottom">
        <h3>1 Stevenson Dr, Lincolnshire, IL 60069</h3>
        <h6>@ Kitchen Coders | All Rights Reserved</h6>
      </div>
    </footer>

  </body>
</html>
