<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}"/>
    <title>Sign Up</title>
</head>
<body>
    <div class="container">
        <div class="nav">
            <div class="navLogo">
                <img src="https://cdn.glitch.global/ee3824e1-08b7-4d8e-b8e7-dfe1553e478d/Untitled%20design%20(20).png?v=1736693562443" alt="pig" />
                <h3>Pigment</h3>
            </div>
            <ul></ul>
        </div>
        <div class="mainPage">
            <div class="mainPageLeft">
                <img src="https://cdn.glitch.global/ee3824e1-08b7-4d8e-b8e7-dfe1553e478d/Untitled%20design%20(22).png?v=1737001704636" alt="Sign up illustration" />
                <h2>Welcome to the family!</h2>
            </div>
            <div class="mainPageRight">
                <h2>Sign Up</h2>
                <form action="/signup" method="POST">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" required><br><br>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required><br><br>
                    <button type="submit">Sign Up</button>
                </form>
                <p>Already have an account? <a href="/login">Login here</a></p>
            </div>
        </div>
    </div>
</body>
</html>
