<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signupLanding.css') }}"/>
     <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
      rel="stylesheet"
    />
    <title>Pigment</title>
  </head>
  <body>
    <div class="container">
     <div class="nav">
  <div class="navLogo">
    <img src="https://cdn.glitch.global/ee3824e1-08b7-4d8e-b8e7-dfe1553e478d/Untitled%20design%20(20).png?v=1736693562443" alt="pig" />
    <h3>Pigment</h3>
  </div>
  <ul>
    <li>
      <a href="#home">
        <i class="fa-solid fa-home"></i>
        <span>Home</span>
      </a>
    </li>
   
   
    <li>
      <a href="#portfolio">
       <i class="fa-solid fa-dollar"></i>
        <span>Tracker</span>
      </a>
    </li>
    <li>
      <a href="#contact">
        <i class="fa-solid fa-chart-pie"></i>
        <span>Porkfolio</span>
      </a>
    </li>
  </ul>
</div>
    
    <div class="homePage">
  <div class="homeLeftSide">
    <div class="homeLeftContainer">
      <h1>Welcome To Pigment</h1>
      <p>We take pride in helping people from all walks of life achieve the justice and peace they deserve.</p>
      <button id="playButton" class="videoButton">Let's Get Started</button>
    </div>
  </div>
  <div class="homeRightSide">
    <div class="videoContainer">
      <video loop autoplay muted class="background-clip" id="backgroundVideo">
        <source src="https://cdn.glitch.global/c9220cc7-4592-41c8-8506-da169dafbe56/demon%20ct%20red%20background.mp4?v=1695701896572" type="video/mp4">
      </video>
    </div>
  </div>
</div>

  
      </div>
    </div>

    <footer>
      <div class="footerTop">
       <div class="logoGroup">
        <img src="https://cdn.glitch.global/ee3824e1-08b7-4d8e-b8e7-dfe1553e478d/Untitled%20design%20(20).png?v=1736693562443"/>
         <h2>
           Pigement
         </h2>
         <h2>
           -Personal Finance
         </h2>
         
        </div>
       

        <div class="peopleFooter">
          <div>Hansuja Yalaverthi</div>
          <div>|</div>
          <div>Ira Tiwari</div>
          <div>|</div>
          <div>Grace Gong</div>
        </div>
      </div>
      <div class="footerDivider">
        <hr />
      </div>
      <div class="footerBottom">
        <h3>1 Stevenson Dr, Lincolnshire, IL 60069</h3>
        <h6>@ Kitchen Coders | All Rights Reserved</h6>
      </div>
    </footer>

    <script>
      window.addEventListener("load", function () {
        const video = document.getElementById("backgroundVideo");
        const playButton = document.getElementById("playButton");

        playButton.addEventListener("click", function () {
          if (video.paused) {
            video.play();
            playButton.textContent = "Pause Video";
          } else {
            video.pause();
            playButton.textContent = "Play Video";
          }
        });
      });
    </script>
  </body>
</html>
